html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  margin: 0;
  padding: 0;
  background-color: #1E192C;
}

.content .card {
  width: 200px;
  background-color: transparent;
  border: 0;
  color: #fff718;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: .5rem;
}

.search input {
  width: 400px;
  margin: .6rem;
}

.footer {
  background: #000;
  color: #fff718;
  padding: 1.2rem;
}

.footer .social-icons {
  margin-top: .8rem;
}

.footer .social-icons a {
  margin: 0 .6rem;
}

.footer .social-icons img {
  width: 30px;
  transition: transform 0.3s ease;
}

.footer .social-icons a:hover img {
  transform: scale(1.2);
}